<ion-header>
  <ion-toolbar>
    <ion-title>
      <img id="headLogo" src="/assets/plainlogo.png"></ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/bg.png" id="chocoDrip"> 
  <center><p id="titleTxt">About our products</p></center>
  <center><ion-icon id="bagIcon" name="bag-outline"></ion-icon>
  <img id="brandLogo" src="/assets/logo.png">
</center>

  <ion-card>
    <ion-card-content>
      The Chocoholics Store sells variety of chocolate products that adults and kids
      can enjoy such as: Chocolate Bars, Chocolate Blocks, and Chocolate Boxes. Our store
      collected chocolates different chocolate companies including: Nestle, Mars, Cadbury and many more,
      from all around the world to share it to Filipino citizens who has a sweet tooth and 
      craves for an amazing chocolate that they can easily buy online for a cheap price.
    </ion-card-content>
  </ion-card>
</ion-content>